@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="view" data-title="Settings" id="settings" data-layout="main" data-switch-to="settings">
    I'm Settings!
</div>